.advantages {
  background: #f2f2f2;
  padding: 130px 20px 0;
  height: 772px;
  position: relative;

  @media (min-width: @tablet-width) {
    height: 533px;
    padding: 0 20px 0;
  }

  @media (min-width: @desktop-width) {
    height: 775px;
  }
}

.advantages::before {
  content: "";
  height: 60px;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 0;
  clip-path: polygon(0 100%, 0 0, 100% 0);
  background-color: #ffffff;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    order: 1;
    flex-direction: row;
    width: 892px;
    justify-content: space-between;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;

  @media (min-width: @desktop-width) {
    width: 240px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__description {
  text-align: center;
  color: #283645;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    padding-left: 154px;
    padding-right: 154px;
  }
}

.advantages__item {
  width: 270px;
}

.advantage-image__icon {
  width: 157px;
  margin-top: 48px;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 547px;
    order: -1;
  }

  @media (min-width: @desktop-width) {
    width: 186px;
    height: 382px;
  }
}

.advantage-image__item {
  z-index: 1;
  height: 334px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    height: 530px;
  }

  @media (min-width: @desktop-width) {
    height: 380px;
  }
}

.advantage-image__item--hidden {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.advantage-image__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;

  @media (min-width: @tablet-width) {
    order: -1;
    margin-right: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 832px;
    order: -1;
    margin-right: 0;
    justify-content: space-between;
  }
}
