.copyright {
  display: flex;
  width: 130px;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  text-decoration: none;
}

.copyright-text {
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  color: #283645;
}
