.download-container {
  background: #1d2631;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    display: block;
    background-color: transparent;
  }
}

.download-container__content {
  color: #ffffff;
  padding: 29px 20px 10px;
  width: 280px;

  @media (min-width: @tablet-width) {
    z-index: 1;
    position: relative;
    padding: 31px 21px;
    width: 300px;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    padding: 37px 131px;
  }
}

.download-container__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  background: transparent;
  color: #ffffff;
  padding: 15px 0;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  width: 100%;
  margin-bottom: 32px;
  font-family: inherit;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
    font-weight: 700;
    font-size: 21px;
    line-height: 18px;
  }
}

.download-container__button:hover {
  color: #d22856;
  background-color: #ffffff;
}

.download-container__button:active {
  color: #d22856;
  opacity: 0.3;
}

.download-container__information {
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  margin: 16px 0 22px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 38px;
  }
}
