.page-header {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 22px 0 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.page-header__color-grey {
  background: #283645;
}

.page-header__logo {
  display: block;
  background-image: url("../img/logo-mobile.svg");
  background-repeat: no-repeat;
  width: 74px;
  height: 23px;
  margin: 0 auto 20px 20px;

  @media (min-width: @tablet-width) {
    display: block;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    height: 40px;
    width: 145px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    background-image: url("../img/logo-desktop.svg");
    background-repeat: no-repeat;
    height: 40px;
    width: 147px;
  }
}

.page-header__wrapper {
  position: relative;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
  }
}
