.operating-systems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.operating-systems__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.operating-system__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}
