.price {
  background: #f2f2f2;
  padding: 101px 0 46px;
  position: relative;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    padding: 80px 21px 68px;
  }

  @media (min-width: @desktop-width) {
    padding: 81px 130px 90px;
  }
}

.price::before {
  content: "";
  height: 22px;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 0;
  clip-path: polygon(0 100%, 0 0, 100% 0);
  background-color: #ffffff;

  @media (min-width: @desktop-width) {
    height: 89px;
  }
}

.price__toggle-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 55px;
  margin: 28px auto 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.price__toggle-button {
  width: 6px;
  height: 6px;
  margin: 0;
  padding: 0;
  background: #283645;
  opacity: 0.3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.price__toggle-button:hover {
  background: #283645;
  opacity: 0.6;
}

.price__toggle-button:focus {
  background: #283645;
  opacity: 0.1;
}

.price__toggle-button--current {
  background: #ffffff;
  outline: 3px solid #283645;
  opacity: 1;
}
