.reviews {
  padding: 40px 20px 33px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 28px 20px 33px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 73px;
  }
}

.reviews__author-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-style: normal;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  order: 1;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    order: 0;
    width: 620px;
    margin-bottom: 36px;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
  }
}

.reviews__item {
  text-align: center;
  margin: 0 0 7px;
  display: flex;
  flex-direction: column;
}

.reviews__author-name--description {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    line-height: 30px;
    text-align: center;
    color: #283645;
    font-size: 14px;
  }

  @media (min-width: @desktop-width) {
    line-height: 34px;
    font-size: 18px;
  }
}

.reviews__author {
  order: 0;

  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.reviews__button {
  width: 48px;
  height: 60px;
  color: #283645;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.reviews__button:hover {
  color: #283645;
  opacity: 0.6;
}

.reviews__button:focus {
  opacity: 0.1;
}

.reviews__button--next {
  transform: rotate(-180deg);
}

.reviews__toggles-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: @tablet-width) {
    margin-top: 22px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.reviews__toggle {
  margin: 0 9px;
}

.reviews__toggle-button {
  width: 6px;
  height: 6px;
  margin: 0;
  padding: 0;
  background: #283645;
  opacity: 0.3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.reviews__toggle-button:hover {
  background: #283645;
  opacity: 0.6;
}

.reviews__toggle-button:focus {
  background: #283645;
  opacity: 0.1;
}

.reviews__toggle-button--current {
  background: #ffffff;
  outline: 3px solid #283645;
  opacity: 1;
}

.reviews__wrapper {
  position: relative;
}

.reviews__buttons {
  display: none;

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 971px;
    display: flex;
    justify-content: space-between;
  }
}

.reviews::before {
  display: none;

  @media (min-width: @desktop-width) {
    content: "";
    background-image: url("../img/quotes.svg");
    width: 80px;
    height: 65px;
    display: block;
    margin: 0 auto 35px;
  }
}
