.textarea-form {
  grid-area: textarea;
  order: 4;
  border-radius: 1px;
  border: none;

  @media (min-width: @tablet-width) {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }
}

.textarea-form__legend {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}
