.textarea-form {
  grid-area: textarea;
  order: 4;
  border-radius: 1px;
  border: none;

  @media (min-width: @tablet-width) {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding: 47px 60px 53px;
  }
}

.textarea-form__legend {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.textarea-form__text {
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: #283645;
  font-size: 18px;
  line-height: 30px;
}
