.text-form {
  order: 2;
  grid-area: text;
  border: none;
  font-size: 18px;
  line-height: 30px;
  padding: 30px 22px 27px;

  @media (min-width: @tablet-width) {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding: 34px 22px 0;
    margin-top: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    padding: 0 22px 13px;
  }
}

.text-form__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 24px;
  }
}

.text-form__label {
  order: 0;
  color: #d22856;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 21px;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    order: 1;
    margin-top: 7px;
    margin-left: 57px;
    margin-bottom: 3px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 18px;
    margin-top: 9px;
  }
}

.text-form__input {
  color: #283645;
  padding: 13px 253px 14px 21px;
  order: 1;
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  @media (min-width: @tablet-width) {
    order: 0;
    padding: 13px 244px 16px 21px;
    margin-left: 39px;
    font-family: inherit;
    width: 87%;
  }

  @media (min-width: @desktop-width) {
    order: 0;
    padding: 16px 119px 14px 20px;
    margin-left: 0;
    width: 371px;
  }

  &:hover {
    border: 2px solid #283645;
    border-radius: 1px;
  }

  &:active {
    border: 2px solid #d22856;
    border-radius: 1px;
  }
}

.text-form__phone-section {
  position: relative;
}

.text-form__phone-section::after {
  display: none;

  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";
    background-image: url("../img/phone-icon.svg");
    background-position: center;
    background-color: #e5e5e5;
    width: 60px;
    height: 60px;
    display: block;
    top: 0;
    right: 34px;
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    top: 2px;
    right: 0;
  }
}

.text-form__labels {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-around;
  }
}


.text-form__legend {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 14px;
    line-height: 23px;
    color: #d22856;
    text-align: center;
    text-transform: uppercase;
  }
}

.text-form__mail-section {
  position: relative;
}

.text-form__mail-section::after {
  display: none;

  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";
    background-image: url("../img/mail-icon.svg");
    background-position: center;
    background-color: #e5e5e5;
    width: 60px;
    height: 60px;
    display: block;
    top: 2px;
    right: 35px;
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    right: 0;
  }
}

.text-form__break-mobile {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
